<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <title>Welcome to THE SCOREBOARD </title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=pWxEvv81GRVE&format=png&color=000000">

<style>


.sixtyfour-convergence-1 {
  font-family: "Sixtyfour Convergence", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

</style>
</head>
<body>
    <h1 class="sixtyfour-convergence-1">Welcome to THE SCOREBOARD </h1>
    <h2>Login</h2>
    <form method="post" action="/login">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
