<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scoreboard</title>
</head>
<body>
    <ul id="rowss">
    {% for v in rows %}
        <li>{{ v.name }}: {{ v.score }}</li>

        <div style="display: inline-flex">
            <form method="get", action="decrement"> 
                <input type="hidden" name="id" value={{v.id}}> 
                <!-- <button type='submit'>-</button> -->
            </form>

            <form method="get", action="increment">
                <input type="hidden" name="id" value={{v.id}}>
                <!-- <button type='submit'>+</button> -->
            </form>
        </div>
    {% endfor %}
    </ul>
</body>
</html>
